@import '../../theme-colors.scss';

.jumbotron {
	margin: auto;
	margin-top: 0pt;
	margin-bottom: 10pt;
	padding-top: 30pt;
	padding-bottom: 20pt;
	margin-bottom: 0pt;
	text-align: center;
	background-color: $latte;
}

h1 {
	font-weight: bolder;
	font-size: 48pt;
}

p {
	font-family: ivypresto-text, garamond, serif;
	font-weight: 100;
	font-style: italic;
	font-size: 12pt;
	margin-top: -12pt;
	margin-bottom: 0;
	padding: 0pt;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 22pt;
    }
}